@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.hypno {
  width: 100%;
  border: 1px solid rgba(255,255,255,.5);
  margin: -25% auto 0;
  position: relative;
  // first div
  > div {
    padding-bottom: 100%;
    content: ' ';
    position: relative;
    div {
      border-radius: 50%;
      position: absolute;
      width: 90%;
      padding-bottom: 90%;
      margin: 5%;
      top: -1.5%;
      left: -1.5%;
      -webkit-animation: spin 30s linear infinite;
      -moz-animation: spin 30s linear infinite;
      animation: spin 30s linear infinite;
      background-color: #fff;
      > div {
        background-color: #000;
        > div {
          background-color: #fff;
          > div {
            background-color: #000;
            > div {
              background-color: #fff;
              > div {
                background-color: #000;
                > div {
                  background-color: #fff;
                  > div {
                    background-color: #000;
                    > div {
                      background-color: #fff;
                      > div {
                        background-color: #000;
                        > div {
                          background-color: #fff;
                          > div {
                            background-color: #000;
                            > div {
                              background-color: #fff;
                              > div {
                                background-color: #000;
                                > div {
                                  background-color: #fff;
                                  > div {
                                    background-color: #000;
                                    > div {
                                      background-color: #fff;
                                      > div {
                                        background-color: #000;
                                        > div {
                                          background-color: #fff;
                                          > div {
                                            background-color: #000;
                                            > div {
                                              background-color: #fff;
                                              > div {
                                                background-color: #000;
                                                > div {
                                                  background-color: #fff;
                                                  > div {
                                                    background-color: #000;
                                                    > div {
                                                      background-color: #fff;
                                                      > div {
                                                        background-color: #000;
                                                        > div {
                                                          background-color: #fff;
                                                          > div {
                                                            background-color: #000;
                                                            > div {
                                                              background-color: #fff;
                                                              > div {
                                                                background-color: #000;
                                                                > div {
                                                                  background-color: #fff;
                                                                  > div {
                                                                    background-color: #000;
                                                                    > div {
                                                                      background-color: #fff;
                                                                      > div {
                                                                        background-color: #000;
                                                                        > div {
                                                                          background-color: #fff;
                                                                          > div {
                                                                            background-color: #000;
                                                                            > div {
                                                                              background-color: #fff;
                                                                              > div {
                                                                                background-color: #000;
                                                                                > div {
                                                                                  background-color: #fff;
                                                                                  > div {
                                                                                    background-color: #000;
                                                                                    > div {
                                                                                      background-color: #fff;
                                                                                      > div {
                                                                                        background-color: #000;
                                                                                        > div {
                                                                                          background-color: #fff;
                                                                                          > div {
                                                                                            background-color: #000;
                                                                                            > div {
                                                                                              background-color: #fff;
                                                                                              > div {
                                                                                                background-color: #000;
                                                                                                > div {
                                                                                                  background-color: #fff;
                                                                                                  > div {
                                                                                                    background-color: #000;
                                                                                                    > div {
                                                                                                      background-color: #fff;
                                                                                                      > div {
                                                                                                        background-color: #000;
                                                                                                        > div {
                                                                                                          background-color: #fff;
                                                                                                          > div {
                                                                                                            background-color: #000;
                                                                                                            > div {
                                                                                                              background-color: #fff;
                                                                                                              > div {
                                                                                                                background-color: #000;
                                                                                                                > div {
                                                                                                                  background-color: #fff;
                                                                                                                  > div {
                                                                                                                    background-color: #000;
                                                                                                                    > div {
                                                                                                                      background-color: #fff;
                                                                                                                      > div {
                                                                                                                        background-color: #000;
                                                                                                                        > div {
                                                                                                                          background-color: #fff;
                                                                                                                          > div {
                                                                                                                            background-color: #000;
                                                                                                                            > div {
                                                                                                                              background-color: #fff;
                                                                                                                              > div {
                                                                                                                                background-color: #000;
                                                                                                                                > div {
                                                                                                                                  background-color: #fff;
                                                                                                                                  > div {
                                                                                                                                    background-color: #000;
                                                                                                                                    > div {
                                                                                                                                      background-color: #fff;
                                                                                                                                      > div {
                                                                                                                                        background-color: #000;
                                                                                                                                        > div {
                                                                                                                                          background-color: #fff;
                                                                                                                                          > div {
                                                                                                                                            background-color: #000;
                                                                                                                                            > div {
                                                                                                                                              background-color: #fff;
                                                                                                                                              > div {
                                                                                                                                                background-color: #000;
                                                                                                                                                > div {
                                                                                                                                                  background-color: #fff;
                                                                                                                                                  > div {
                                                                                                                                                    background-color: #000;
                                                                                                                                                    > div {
                                                                                                                                                      background-color: #fff;
                                                                                                                                                      > div {
                                                                                                                                                        background-color: #000;
                                                                                                                                                        > div {
                                                                                                                                                          background-color: #fff;
                                                                                                                                                          > div {
                                                                                                                                                            background-color: #000;
                                                                                                                                                            > div {
                                                                                                                                                              background-color: #fff;
                                                                                                                                                              > div {
                                                                                                                                                                background-color: #000;
                                                                                                                                                                > div {
                                                                                                                                                                  background-color: #fff;
                                                                                                                                                                  > div {
                                                                                                                                                                    background-color: #000;
                                                                                                                                                                    > div {
                                                                                                                                                                      background-color: #fff;
                                                                                                                                                                    }
                                                                                                                                                                  }
                                                                                                                                                                }
                                                                                                                                                              }
                                                                                                                                                            }
                                                                                                                                                          }
                                                                                                                                                        }
                                                                                                                                                      }
                                                                                                                                                    }
                                                                                                                                                  }
                                                                                                                                                }
                                                                                                                                              }
                                                                                                                                            }
                                                                                                                                          }
                                                                                                                                        }
                                                                                                                                      }
                                                                                                                                    }
                                                                                                                                  }
                                                                                                                                }
                                                                                                                              }
                                                                                                                            }
                                                                                                                          }
                                                                                                                        }
                                                                                                                      }
                                                                                                                    }
                                                                                                                  }
                                                                                                                }
                                                                                                              }
                                                                                                            }
                                                                                                          }
                                                                                                        }
                                                                                                      }
                                                                                                    }
                                                                                                  }
                                                                                                }
                                                                                              }
                                                                                            }
                                                                                          }
                                                                                        }
                                                                                      }
                                                                                    }
                                                                                  }
                                                                                }
                                                                              }
                                                                            }
                                                                          }
                                                                        }
                                                                      }
                                                                    }
                                                                  }
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}